<h1 style="color:green">Payment Successful</h1>

<h1>Payment ID: <%- paymentID%></h1>
<h1>Order ID: <%- orderID%></h1>
<h1>Signature: <%- signature%></h1>
<h1>Generate Signature: <%- generated %></h1>